{% extends "ServiceBundle:Manager:base_manager.html.twig" %}
{% block page_content %}


    {%if message is defined%}
        <h4>{{message}}</h4>
    {%endif%}

    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Typ</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Pojemność</th>
                <th>Rocznik</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{motorcycle.type}}</td>
                <td>{{motorcycle.make}}</td>
                <td>{{motorcycle.model}}</td>
                <td>{{motorcycle.capacity}}</td>
                <td>{{motorcycle.year}}</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Nr. Rej</th>
                <th>VIN</th>
                <th>Przebieg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{motorcycle.regPlate}}</td>
                <td>{{motorcycle.vin}}</td>
                <td>{{motorcycle.mileage}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('manager_modify_motorcycle', {'motorcycleId': motorcycle.id}) }}">Edytuj</a>
    <a href="{{ path('manager_add_service_order', {'motorcycleId': motorcycle.id}) }}">Dodaj zlecenie</a>


    {% if orders is defined %}
        {%if orders|length >0 %}
            <h4>Widzisz wszystkie zlecenia motocykla</h4>
            <h6> klikinj w zecenie żeby zobaczyć szczegóły</h6>
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>NrRej</th>
                        <th>przebieg</th>
                        <th>data rozpoczęcia</th>
                        <th>data zakończenia</th>
                        <th>komentarz managera</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders%}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        <tr class="
                            {% if  counter % 2 == 0%}
                                even gradeC
                            {% else%}
                                odd gradeX 
                            {%endif%}
                            " name="click" data-href="{{ path('manager_order_checkout', { 'orderId': order.id }) }}">
                            <td>{{order.motorcycle.make}}</td>
                            <td>{{order.motorcycle.model}}</td>
                            <td>{{order.motorcycle.regPlate}}</td>
                            <td>do poprawy </td>
                            <td>{{order.startDate.date}}</td>
                            <td>{{order.endDate.date}}</td>
                            <td>{{order.managerComments}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        {%else%}
            <h4> Motocykl nie ma żadnych zleceń</h4>
        {%endif%}
    {%endif%}    

{% endblock %}