{% extends "ServiceBundle:Admin:base_admin.html.twig" %}
{% block page_content %}


    <div class="panel-body">
        <h4>Widzisz Pracownika</h4>
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Numer Telefonu</th>
                    <th>Email</th>

                </tr>
            </thead>
            <tbody>
                <tr class="even gradeC" >
                    <td>{{employee.name}}</td>
                    <td>{{employee.surname}}</td>
                    <td>{{employee.phoneNo}}</td>
                    <td>{{employee.email}}</td>
                </tr>
            </tbody>
        </table>
        {% if employee.enabled == true%}

            <a  href="{{ path('admin_change_status', {'employeeId': employee.id}) }}">dezaktyuwj użytkownika</a>
        {%else%}

            <a  href="{{ path('admin_change_status', {'employeeId': employee.id}) }}">aktywuj użytkownika</a>
        {%endif%}

        <a  href="{{ path('admin_change_employee', {'employeeId': employee.id}) }}">edytuj uzytkownika</a>

    </div>
{% endblock %}