{% extends "ServiceBundle:Manager:base_manager.html.twig" %}
{% block page_content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {%if type is defined%}
        {%if type == "user"%}
            <a href="{{ absolute_url('/manager/addCustomer') }}">Dodaj użytkownika</a>

        {%elseif type == "motorcycle"%}
            <a href="{{ path('add_motorcycle',{'userId': userId}) }}">Dodaj motocykl</a>
        {%endif%}
    {%endif%}
{% endblock %}