{% extends "ServiceBundle:Manager:base_manager.html.twig" %}
{% block page_content %}

    <div class="panel-body">



        {% if customer is defined %}

            <h4>Widzisz Użytkownika</h4>
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Numer Telefonu</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="even gradeC" >
                        <td>{{customer.name}}</td>
                        <td>{{customer.surname}}</td>
                        <td>{{customer.phoneNo}}</td>
                        <td>{{customer.email}}</td>
                    </tr>
                </tbody>
            </table>       
        {%endif%}

        {% if user_motorcycles is defined%}
            {%if user_motorcycles|length >0 %}
                <h4>Motocykle</h4>
                <h6>kliknij w motocykl żeby zobaczyć stronę motocykla</h6>
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Rok produkcji </th>
                            <th>NrRej</th>
                            <th>przebieg</th>
                        </tr>
                    </thead>
                    <tbody>   
                        {% for motorcycle in user_motorcycles%}
                            {% set counter = ( counter | default(0) ) + 1 %}
                            <tr class="
                                {% if  counter % 2 == 0%}
                                    even gradeC
                                {% else%}
                                    odd gradeX 
                                {%endif%}
                                " name="click" data-href="{{ path('manager_show_motorcycle', { 'id': motorcycle.id }) }}">

                                <td>{{motorcycle.make}}</td>
                                <td>{{motorcycle.model}}</td>
                                <td>{{motorcycle.year}}</td>
                                <td>{{motorcycle.regPlate}}</td>
                                <td>{{motorcycle.mileage}}</td>
                                </a>
                            </tr>

                        {%endfor%}
                    </tbody>
                </table>
            {%else%}
                <h4>Nie Masz aktualnie żadnych Motocykli</h4>
            {%endif%}
        {%endif%}

        {% if user_orders is defined %}
            {%if user_orders|length >0 %}
                <h4>Widzisz wszystkie Twoje zlecenia</h4>
                <h6> klikinj w zecenie żeby zobaczyć szczegóły</h6>
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>NrRej</th>
                            <th>przebieg</th>
                            <th>data rozpoczęcia</th>
                            <th>data zakończenia</th>
                            <th>mój komentarz</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in user_orders%}
                            {% set counter = ( counter | default(0) ) + 1 %}
                            <tr class="
                                {% if  counter % 2 == 0%}
                                    even gradeC
                                {% else%}
                                    odd gradeX 
                                {%endif%}
                                " name="click" data-href="{{ path('manager_show_one_order', { 'orderId': order.id }) }}">
                                <td>{{order.motorcycle.make}}</td>
                                <td>{{order.motorcycle.model}}</td>
                                <td>{{order.motorcycle.regPlate}}</td>
                                <td>{{order.mileage}}</td>
                                <td>{{order.startDate.date}}</td>
                                <td>{{order.endDate.date}}</td>
                                <td>{{order.userComments}}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%else%}
                <h4>Użytkownik nie ma aktualnie żadnych Zleceń</h4>
            {%endif%}
        {%endif%}         
    </div>
{% endblock %}